.box{
    border: 1px solid #373737;
    background-color: #3d3d3d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.box-1{
    border: 1px solid #373737;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50%;
    /* margin-left: 70px; */
    padding: 15px;
    padding-left: 30px;
}
.box-2{
    border: 1px solid#373737;
    margin-left: 1px;
    padding: 15px;
    color: #b6ae9e;
    
}
.box-3{
    border: 1px solid#373737 ;
    padding: 15px;
    margin-left: 80%;
    
}
#sort{
    border: 1px solid #373737;
    padding: 10px;
}
#check{
    text-align-last: right;
    
   
}
.fil{
    border: 1px solid#373737 ;
    padding: 15px;
    margin-left: -5px;
    /* margin-top: 8px; */  
}


/* //menu hide and display  */
.maindisplayDiv{
    border: 2px solid rgba(0, 0, 0, 0.139);
    display: none;
 
}

.displayDiv{
margin-left: 30px;
padding: 15px;
display: grid;
grid-template-columns: repeat(5,1fr);



}

.displayDiv>div input,span{
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* padding: 20px; */
   
}
.displayDiv>div>input[type="checkbox"]{
    width: 15px;
    height: 15px;
   
    
}

.displayDiv span{
    margin-right: 10px;
    color : rgb(124, 122, 122);
    font-size: 15px;
    font-weight: 500;
    margin: 10px;

}




#main{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    margin: 10%;
    background: #373737;
    gap: 30px;
}
body{
    background: #373737;
}

#main>div>img{
    width: 100%;
}