.box{
    border: 1px solid #373737;
    background-color: #3d3d3d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.box-1{
    border: 1px solid #373737;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50%;
    /* margin-left: 70px; */
    padding: 15px;
    padding-left: 30px;
}
.box-2{
    border: 1px solid#373737;
    margin-left: 1px;
    padding: 15px;
    color: #b6ae9e;
    
}
.box-3{
    border: 1px solid#373737 ;
    padding: 15px;
    margin-left: 80%;
    
}
#sort{
    border: 1px solid #373737;
    padding: 10px;
}
#check{
    text-align-last: right;
    
   
}
.fil{
    border: 1px solid#373737 ;
    padding: 15px;
    margin-left: -5px;
    /* margin-top: 8px; */  
}

.select-filter{
    font-size: 16px; 
    padding: 4px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff;
    color: #333; 
}
#pincode{
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

/* //menu hide and display  */
.maindisplayDiv{
    border: 2px solid rgba(0, 0, 0, 0.139);
    display: none;
 
}

.displayDiv{
margin-left: 30px;
padding: 15px;
display: grid;
grid-template-columns: repeat(5,1fr);



}

.displayDiv>div input,span{
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* padding: 20px; */
   
}
.displayDiv>div>input[type="checkbox"]{
    width: 15px;
    height: 15px;
   
    
}

.displayDiv span{
    margin-right: 10px;
    color : rgb(124, 122, 122);
    font-size: 15px;
    font-weight: 500;
    margin: 10px;

}




#main{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    margin: 10%;
    background: #373737;
    gap: 30px;
}
body{
    background: #373737;
}

#main>div>img{
    width: 100%;
}

.append{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 5%;

    gap: 20px;
    background-color: #3d3d3d;
    padding: 30px

}
.append>div{
    /* border: 1px solid red; */
    padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: white;
}
.append>div>img{
   border-radius: 10px;
   width: 80%;
   margin-left: 10%;
}
.title{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    font-family:   Arial, sans-serif;
     margin-bottom: 10px;
}
.priceSection{
display: flex;
justify-content: center;
align-items: center;
 

}

.priceSection>div:nth-child(1){

    font-size: 20px;
    font-weight: bold;
     
     padding-right: 15px;
     border-right: 2px solid black;

}

.priceSection>div:nth-child(2){

    font-size: 18px;
    font-weight: bold;
    color: gray;
    
      padding-left: 15px;
   

}
.clubPrice{
    text-align: center;
    color: rgb(5, 5, 75);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.buttonSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{

    margin-top: 10px;
     padding: 8px 20px;
      border: none;
      background-color: #007BFF; /* Blue color, you can change it */
      color: #fff; /* Text color */
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #0056b3;
}